		.borders {
			border-radius: 5em;
			border: 4px black dashed;
			border-color: #e0e0d1;
		}

		#type-section {
			margin: 5 auto;
			width: 500px;
			border: 1px black solid;
			background-color: #ffd1b3;
		}

		#post-section {
		margin: 10px auto;	
		width: 600px;
        height: 450px;
		opacity: 0.8;
        display: none;
        position: aboslute;
        left: 360px;
		}

		#posts {
		margin: 0 auto;	
		overflow: scroll;
        height: calc(100% - 200px);
		width: 600px;
		border: 1px #000000 solid;
		background-color: #ffe0cc;
		}

		#posts form {
			position: relative;
			left: 80px;
			margin: 10px;
			border: 1px black solid;
			width: 350px;	
			height: 135px;
			background-color: #ffc299;
		}

		#comment {
			margin-bottom: 15px;
			margin-left: 10px;
			width: 300px;
			height: 70px;
			resize: none;
		}

		/*#postText {
			margin: 15px;
			width: 150px;
			height: 75px;
		}*/

		#postUser {
			margin: 10px;
			height: 30px;
		}

		#postButton {
			width: 70px;
			margin-right: 15px;
		}

		#posted hr {
			border-color: #000000;
		}

		#posted p {
			color: #000000;
		}

		#posted h3 {
			color: #000000;
			font-weight: bold;
		}

		#posted h3:hover {
			color: #0756c4;
			cursor: default;
		}
		#postedUser {
			margin:15px;
		}

		#post {
			margin:15px;
		}

		#recent {
			width: 450px;
			margin: 0 auto;
		}
		#recent h4 {
			margin-left: 10px;
			font-weight: 700;
			color: #000000;
		}

		#recent hr {
		border-height: 40px;
		}

		.newPost {
			background-color: #ffad33;
			border-radius: 1em;
			margin: 5px;
			font-weight: Bold;
		}

		.newPost h3 {
			margin: 5px;
		}

		.newPost p {
			margin: 5px;
			word-wrap: break-word
		}

		#header {
			width: 100%;
			height: 40px;
			background-color: #000000;
			border: 2px #000000 dotted;
			border-radius: 2em;
			background-color: #ffb380;
		}

		#header h3 {
			margin: 1 auto;
			padding-left: 220px;
			color: #ffffff;
			font-weight: 750;
			font-family:"Comic Sans MS", cursive, sans-serif;
		}

		body {
		  background: url("images/pattern3.png") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
		}

		.login-form {
			border: 1px #000000 solid;
			background-color: #ffc299;
			opacity: 0.8;
			margin: 2px auto;
			width: 450px;
		}

		.login-form form {
			margin: 10px;
		}

		.login-form h3 {
			text-align: center;
		}

		#login-btn:hover {
			background-color: #33ccff;
			color: #ffffff;
		}

		.logo {
			font-weight: Bold;
			margin-top: 25px;
		}

		.image {
			margin: 0 auto;
			width: 1300px;
			height: 400px;
			background-image: url("images/landingWallpaper.jpg");
		}

		.landingNav {
			width: 100%;
			margin: 30px;
			background-color: #ffffff;
			border-radius: 2em;
			margin-left:10px;
		}

		#procedures {
			background-color: #ffffff;
			opacity: 0.6;
			border-radius: 3em;
			margin: 15px auto;
			width: 900px;
		}

		#procedures p {
			margin: 35px;
			font-weight: 600px;
			font-size: 16px;
		}

		#procedures h3 {
			font-weight: Bold;
			padding-top: 35px;
			margin-left: 35px;
			font-weight: 600px;
			font-size: 16px;
		}

		#about {
			background-color: #ffffff;
			opacity: 0.6;
			border-radius: 3em;
			margin: 15px auto;
			width: 900px;

		}

		#about p {
			margin: 35px;
			font-weight: 600px;
			font-size: 16px;
			font-style: "Comic Sans MS", cursive, sans-serif;
		}

		#about h3 {
			font-style: "Comic Sans MS", cursive, sans-serif;
			font-weight: Bold;
			padding-top: 35px;
			margin-left: 35px;
			font-weight: 600px;
			font-size: 16px;
		}

		#about iframe {
			margin: 0 auto;
			padding-left: 35px;
		}

		.menu-item {
			font-size: 16px;
			margin-right: 5px;
			margin-left: 5px;
		}

		.top-links {
			margin: 2px;
			height: 30px;
			width: 60px;
		}

		.top-links button {
			font-size: 14px;
		}

		.search-section {
			margin-right: 350px;
		}

		.search-section button {
			height: 30px;
			width: 50px;
		}

		.search-section input {
			width: 150px;
		}

		.container-contact {
        text-align: center;
        margin: 15px auto; 
        border: 1px #000000 solid;
        background-color: #ffc299;
		opacity: 0.8;
        width: 500px;
        }

       .container-contact label {
       margin: 5px; 
       float: left;
       }

      .container-contact input {
       padding: 10px;
       }

      .hidden {
        display: none;
      }

     .bold {
      font-weight: Bold;
       font-size:16px;
     }

     .container {
     	width: 100%;
     }

     .center {
     	text-align: center;
     	margin: 0 auto;
     }

     .postContent {
     	width: 320px;
     	margin: 5px;
     	border: 1px #000000 solid;
     	background-color: #ffd1b3;
     }

     .postContent textarea {
     	resize: none;
     	margin: 5px 10px;
     	width: 300px;
     }

     .postContent button {
     	width: 70px;
	    margin-left: 65px;
	    margin-bottom: 5px;
     }

     .viewPost {
     	border: 1px #000000 solid;
     	background-color: #ffd1b3;
     	width: 660px;
     	margin: 10px 5px;
     }

     .profileImg {
     	float: right;
     	height: 40px;
     	width: 40px;
     	margin: 5px;
     	border: 1px #000000 solid;
     	border-radius: 50%;
     	background-color: #ffffff;
     }

     .profileImgPost {
     	float: left;
     	height: 25px;
     	width: 25px;
     	margin: 5px 10px;
     	border: 1px #000000 solid;
     	border-radius: 50%;
     	background-color: #ffffff;
     }

     .profileName {
     	margin: 5px;
     	font-size: 14px;
     	font-weight: 750;
     }

     .profileName a {
     	color: #000000;
     }

     .profileName a:hover {
     	text-decoration: none;
     	color: #ffffff;
     }

     .profile-section {
     	border-radius: 2em;
     	margin-left: 250px;
     }

     .profile-section:hover {
     	cursor: pointer;
     	background-color: #ADADAD;
     	color: #ffffff;
     }

     .btn-send {
     	width: 60px;
     	height: 30px;
     }

     .footer {
     	bottom: 0;
		width: 100%;
     	position: fixed;
     	height: 100px;
		line-height: 60px;
     	background-color: #F8F9FA;
     }

     .profileArea {
        background-color: #ffa366;
        border: 1px #000 solid;
        border-radius: 2em;
        width: 350px;
        margin: 5px;
     }

     .profileInfo {
        margin: 0 auto;
        text-align: center;
        width: 50%;
     }

     .profileInfoImg {
        height: 40px;
        width: 40px;
        margin: 5px auto;
        border: 1px #000000 solid;
        border-radius: 50%;
        background-color: #ffffff;
     }

     .profileInfoBrief {
        color: #666666;
        font-family: "Comic Sans MS", cursive, sans-serif;
     }

     .profileInfoBrief p {
        margin-top: 8px;
        font-size: 12px;
     }

     .profileInfoName {
        font-size: 16px;
     }

     .pinnedInfo {
        background-color: #ffa366;
        border: 1px #000 solid;
        border-radius: 2em;
        width: 320px;
        margin: 5px auto;
     }

     .msg-bar {
        bottom: 0;
        width: 100%;
        position: fixed;
        height: 133px;
        line-height: 60px;
        background-color: #DAD1D1;
     }

     .msg-bar-section {
        margin: 5px;
        float: right;
        height: 28px;
        position: relative;
        bottom: 20px;
     }

     .msg-bar-section span {
        padding: 5px;
        background-color: #C2BDBD;
        border: 0.5px solid #000000;
        height: 100%;
        width: 100px;
        margin: 2px;
     }

     .msg-bar-section a {
        text-decoration: none;
        color: #000;
     }

     .msg-bar-section a:hover {
        text-decoration: none;
        color: #000;
     }

      @media all and (min-width: 1000px) and (max-width:1500px) {


     	 .postContent textarea {
     	width: 300px;
     }
        .postContent button {
	    margin-left: 170px;
     }

       .profileImgPost {
     	margin: 0;
     }

       .viewPost {
     	width: 595px;
     	margin-left: 50px;
     }

     .profile-section {
     	margin-left: 150px;
     	width: 148px;
     }

     .profileName {
     	margin: 5px;
     }

     .profileImg {
     	float: right;
     	height: 40px;
     	width: 40px;

     }

     }

     @media all and (min-width: 700px) and (max-width:1000px) {

     	.search-section {
     		margin-right: 0;
     		float: right;
     	}

     	.top-links {
     		margin-left: 250px;
     		width: 20%;
     	}

     	.postContent {
     	width: 210px;
     }

       .postContent textarea {
     	width: 190px;
     }
       .postContent button {
	    margin-left: 80px;
     }

     .profileImgPost {
     	margin: 0;
     }

     .viewPost {
     	width: 390px;
     }

     .profileName {
     	margin: 5px;
     }

     .profileImg {
     	float: right;
     	height: 40px;
     	width: 40px;
     	margin: 5px;

     }

     }

      @media all and (min-width: 500px) and (max-width:700px) {

     	.login-form {
     		width: 250px;
     	}

     	.search-section {
     		margin-right: 0;
     		
     	}

     	.search-section button {
     		margin: 10px;
     	}

     	.search-section input {
     		float: right;
     	}

     	.postContent {
     	width: 210px;
     }

       .postContent textarea {
     	width: 190px;
     }
       .postContent button {
	    margin-left: 10px;
     }

     .profileImgPost {
     	margin: 0;
     }

     .viewPost {
     	width: 350px;
     }

     .footer {
        width: 100%;
     }

     }

     @media all and (max-width:500px) and (min-width:421px){

     	.login-form {
     		width: 250px;
     	}

     	.container-contact {
     		width: 250px;
     	}

     	.search-section {
     		margin-right: 0;
     		
     	}

     	.search-section button {
     		margin: 10px;
     	}

     	.search-section input {
     		float: right;
     	}

     	.postContent {
     	margin-right: 15px;
     	margin-left: 45px;
     	width: 80%;
     }

       .postContent textarea {
     	width: 95%;
     }
       .postContent button {
	    margin-left: 280px;
     }

     .profileImgPost {
     	width: 30px;
     	height: 30px;
     	margin: 0;
     }

     .viewPost {
     	width: 100%;
     	}

        .footer {
        width: 100%;
     }

     }

      @media all and (max-width:420px) and (min-width:371px){

      	.login-form {
     		width: 250px;
     	}

     	.container-contact {
     		width: 250px;
     	}

     	.search-section {
     		margin-right: 0;
     		
     	}

     	.search-section button {
     		margin: 10px;
     	}

     	.search-section input {
     		float: right;
     	}

     	.postContent {
     		margin-right: 15px;
     		margin-left: 45px;
     	width: 80%;
     }

       .postContent textarea {
     	width: 95%;
     }
       .postContent button {
	    margin-left: 180px;
     }

     .profileImgPost {
     	width: 30px;
     	height: 30px;
     	margin: 0;
     }

     .viewPost {
     	width: 100%;
     	}

     .profile-section {
     	margin-left: 250px;
     }

     .footer {
        width: 100%;
     }


     }

     @media all and (max-width:370px){

     	.login-form {
     		width: 250px;
     	}

     	.container-contact {
     		width: 250px;
     	}

     	.search-section {
     		margin-right: 0;
     		
     	}

     	.search-section button {
     		margin: 10px;
     	}

     	.search-section input {
     		float: right;
     	}

     	.postContent {
     		margin-right: 15px;
     		margin-left: 45px;
     	width: 80%;
     }

       .postContent textarea {
     	width: 95%;
     }
       .postContent button {
	    margin-left: 140px;
     }

     .profileImgPost {
     	width: 30px;
     	height: 30px;
     	margin: 0;
     }

     .viewPost {
     	width: 100%;
     	}

     .profile-section {
     	padding-right: 150px;
     }

      .profileName {
     	margin: 5px;
     }

     .profileImg {
     	float: right;
     	height: 40px;
     	width: 40px;

     }

     .footer {
        width: 100%;
     }

     }